@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --bg-color: #73683b;
  --tag-bg-color: #b0a084;
  --tag-hl-bg-color: #13262f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: white;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: 'Muli', sans-serif;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: var(--tag-bg-color);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: var(--tag-hl-bg-color);
}
